html {
	scroll-behavior: smooth;
}

body {
	max-width: 1400px;
	min-width: 320px;
	height: 100vh;
	min-height: 800px;
	background-color: #f5eef5;
	scroll-behavior: smooth;
	margin: 0 auto;
	//overflow: unset;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	line-height: normal;
	box-sizing: border-box;
	font-size: 100%;
}

// .App {
// 	position: relative;
// 	height: 100vh;
// }

a {
	outline: none;
}
