html {
  scroll-behavior: smooth;
}

body {
 // background-color: #ff00000d;
  background-color: #fff;
  min-height: 100vh;
  min-height: 100%;
  width: 1400px;
  max-width: 100%;
  min-width: 350px;
  margin: 0 auto;
  overflow: unset;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  outline: none;
}
