.carousel-inner {
	text-align: center;

	.carousel-item {
		max-height: 500px;
		img {
			filter: brightness(50%);
		}

		.carousel-caption {
			top: 25%;
			text-align: center;
			min-width: 255px;
			line-height: 1;

			h3 {
				display: inline-block;
				width: 100%;
				//font-size: 3rem;
				font-size: 4.2vw;
				font-weight: 600;
			}
			p {
				max-width: 38rem;
				margin: auto;
				padding-top: 4rem;
				//font-size: 1.7rem;
				font-size: 1.7vw;
				font-weight: 600;
				line-height: normal;
			}
		}
	}
	.first-image {
		img {
			filter: brightness(71%);
		}
		.carousel-caption {
			p {
				padding-top: 5rem;
			}
		}
	}
	.third-image {
		.carousel-caption {
			top: 21%;
			p {
				padding-top: 4rem;
			}
		}
	}
}

@media screen and (max-width: 670px) {
	.carousel-inner {
		.carousel-item {
			.carousel-caption {
				top: 27%;
				max-width: 28rem;
				margin: auto;

				h3 {
					font-size: 2rem;
				}
				p {
					padding-top: 2rem;
					font-size: 1rem;
				}
			}
		}
	}
}

@media screen and (max-width: 524px) {
	.carousel-inner {
		.carousel-item {
			.carousel-caption {
				top: 23%;
				line-height: 1;
				//min-width: 346px;

				h3 {
					width: 100%;
					font-size: 1.7rem;
				}
				p {
					font-size: 0.8rem;
				}
			}
		}
	}
}

@media screen and (max-width: 430px) {
	.carousel-inner {
		.carousel-item {
			.carousel-caption {
				top: 21%;
				line-height: 1;

				h3 {
					width: 100%;
					font-size: 1.5rem;
				}
				p {
					padding-top: 1rem;
					font-size: 0.7rem;
					font-weight: 600;
				}
			}
		}
	}
}
