.footer-wrapper {
	//height: 102px;
}
.footer-container {
	position: absolute;
	left: 0;
	right: 0;
	background-color: #5d415f;
	.footer-content {
		height: 102px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: 1400px;
		margin: auto;
	}

	.Logo {
		width: 8rem;
	}

	p {
		color: #a6c0b5;
	}

	.social-media {
		display: flex;
		justify-content: space-between;
		width: 100px;
		.facebook-icon {
			color: #4267b2;
		}
		.instagram-icon {
			color: #cf4466;
		}
		.twitter-icon {
			color: #09a0e9;
		}
	}
}

@media screen and (min-width: 1420px) {
	.footer-container .footer-content {
		justify-content: space-between;
	}
}

@media screen and (max-width: 495px) {
	.footer-container {
		//background-color: #321833;
		background-color: #5d415f;
		.Logo {
			width: 6rem;
		}
		p {
			font-size: 10px;
		}
	}
}

@media screen and (orientation: landscape) {
	.footer-container {
		//background-color: #321833;
		background-color: #5d415f;
	}
}
