.map-container {
  overflow: hidden;
  padding: 4rem 1rem 4rem;
  @media screen and (min-width: 765px) {
    padding: 7rem 1rem 7rem;
  }

  .contact-info-container {
    padding-bottom: 65px;
   
    h3 {
      font-weight: 600;
      font-size: 2rem;
      color: #514f4f;
    }
    .contact-info {
      display: grid;
      grid-template-columns: min-content auto;
      grid-row-gap: 50px;
      grid-column-gap: 20px;
      color: #888888;
      .location-icon {
        margin-left: -2px;
      }
    }
  }
}
