.navigation-bar {
  background-color: #371838cc;
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 0;
  .auth {
    white-space: nowrap;
    display: inline-block;
  }
  .Logo {
    width: 9rem;
  }

  .nav-link {
    padding: 0.5rem 5rem;
    color: #c1edd3bd;
    &:hover {
      color: rgb(89, 144, 121);
    }
  }
  .toggle-signin {
    display: none;
  }
  .toggle-signup {
    display: none;
  }
  .active {
    color: black;
    &:hover {
      color: black;
    }
  }
}
@media screen and (max-width: 1200px) {
  .navigation-bar {
    .nav-link {
      padding: 0.5rem 3rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .navigation-bar {
    .nav-link {
      padding: 0.5rem 1.5rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .navigation-bar {
    .nav-link {
      padding: 0.5rem 1.5rem;
    }
    .auth {
      display: none;
    }
    .toggle-signin {
      display: block;
    }
    .toggle-signup {
      display: block;
    }
  }
}
