:root {
  --dropdownhoverColor: #e03ad3ad;
}
.nav-container {
  height: 71.58px;
  .navigation-bar {
    position: fixed;
    z-index: 2000;
    top: 0;
    transition: transform 0.3s ease-out;
    height: auto;
    transform: scaleY(1);
    transform-origin: top;
    width: 100%;
    background-color: #371838cc;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 0;
    &.hidden {
      transform: scaleY(0);
    }

    .active {
      color: #599079 !important;
    }

    .nav-link {
      color: #c1edd3bd;
      &:hover {
        color: rgb(89, 144, 121);
      }
    }

    .nav-dropdown {
      position: relative;
      cursor: pointer;

      a {
        color: #c1edd3bd;
        text-decoration: none;
        &:hover {
          color: rgb(89, 144, 121);
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 15px;
        right: 0px;
        width: 0;
        height: 0;
        border-left: 5px solid #df1e1e00;
        border-right: 5px solid transparent;
        border-top: 8px solid #a4bdb3;
      }
      &:hover::after {
        content: "";
        position: absolute;
        top: 15px;
        right: 0px;
        width: 0;
        height: 0;
        border-left: 5px solid #df1e1e00;
        border-right: 5px solid transparent;
        border-top: 8px solid #599079;
      }

      &:hover .dropdown-content {
        visibility: visible;
      }
      .dropdown-content {
        visibility: hidden;
        width: 179px;
        position: absolute;
        top: 54px;
        transition: all 0.2s ease;
        background-color: #f7efef;
        box-shadow: 0px 2px 4px rgba(175, 51, 51, 0.19);
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        font-size: 1rem;
        font-weight: normal;
        text-align: left;
        list-style: none;

        div {
          // &:not(:first-child):before {
          //   margin-left: 16px;
          //   position: absolute;
          //   width: 76%;
          //   height: 1px;
          //   background: rgba(93, 65, 95, 0.22);
          content: "";
          // }
        }

        a {
          display: block;
          color: #5f5959;
          padding: 12px 16px 12px 16px;
          text-decoration: none;
          // &::before {
          // content: "»";
          //   position: absolute;
          //   opacity: 0;
          //   left: 4px;
          //   transition: 0.3s;
          // }
          &:hover {
            background-color: #3f5d513d;
            color: #412d42;
            transition: 0.3s;
            padding-left: 20px;

            &::before {
              transition: 0.3s;
              opacity: 1;
              left: 4px;
            }
          }
        }
      }
    }

    .auth {
      margin-left: auto;
      white-space: nowrap;
      display: inline-block;
    }
    .Logo {
      width: 9rem;
    }

    .collapse-container {
      width: 1000px;
      .collapse:not(.show) {
        display: block;
      }

      @media screen and (max-width: 768px) {
        .navbar-collapse {
          position: absolute;
          background-color: #371838cc;
          width: 100%;
          transition: transform 0.3s ease-out;
          height: auto;
          transform: scaleY(0);
          transform-origin: top;
          &.show {
            transform: scaleY(1);
          }
        }
      }
    }

    .auth-collapse {
      display: none;
    }
    .toggle-signin {
      display: none;
    }
    .toggle-signup {
      display: none;
    }
    .active {
      color: black;
      &:hover {
        color: black;
      }
    }
  }

  @media screen and (max-width: 905px) {
  }

  @media screen and (max-width: 767px) {
    .navigation-bar {
      .nav-dropdown {
        &::after {
          display: none;
        }
        &:hover::after {
          display: none;
        }

        &:hover .dropdown-content {
          display: none;
        }
      }
      .auth {
        display: none;
      }
      .auth-collapse {
        display: block;
      }
      .toggle-signin {
        display: block;
      }
      .toggle-signup {
        display: block;
      }
    }
  }
}
