.about-us-container {
	text-decoration: none;
	padding: 3rem 0 8rem 0;
	// overflow: hidden;

	text-align: center;
	h2 {
		font-size: 4rem;
		color: #599079;
		font-weight: 600;
	}
	hr {
		margin-top: 2rem;
		width: 100px;
		height: 0rem;
		margin-bottom: 1rem;
		border: 0;
		border-top: 3px solid rgba(248, 214, 70, 0.57);
	}
	p {
		margin: 2rem auto;
		max-width: 48rem;
		font-size: 19px;
		color: #000000ab;
		text-align: justify;
		padding: 0 1rem;
		line-height: normal;
	}
	.our-mission {
		padding-top: 3rem;
		h2 {
			font-size: 3rem;
		}
		ul {
			list-style: none;
			text-align: left;
			li {
				position: relative;
				margin: 0.5rem auto;
				padding-left: 2rem;
				max-width: 45rem;
				font-size: 1rem;
				color: #000000ab;
				line-height: 1.1rem;
				&:before {
					content: "\25ba";
					font-size: 14px;
					position: absolute;
					left: 12px;
					font-family: "FontAwesome";
					color: #3e7c69;
				}
			}
		}
	}
}
