.our-programs {
	min-height: 100vh;
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 4rem;
	overflow: hidden;

	a {
		color: rgb(39, 37, 37);
		&:hover {
			text-decoration: none;
			color: rgb(24, 23, 23);
		}
	}

	h2 {
		font-size: 4rem;
		color: #599079;
		font-weight: 600;
	}
	hr {
		margin-top: 2rem;
		width: 100px;
		height: 0rem;
		margin-bottom: 1rem;
		border: 0;
		border-top: 3px solid rgba(248, 214, 70, 0.57);
	}
	p {
		margin: 0 auto;
		max-width: 50rem;
		font-size: 19px;
		color: #000000ab;
		text-align: justify;
		padding-top: 1rem;
		line-height: 1.5rem;
	}
}
.our-programs .programs-links {
	justify-content: space-between;
	padding: 8rem 0;

	& > div {
		padding: 3rem 0;
		transition: all 0.2s ease-in-out;
		margin-bottom: 1rem;
		&:hover {
			//background-color: #4cae7559;
			transform: scale(1.05);
			//box-shadow: 0 0.6rem 1.6rem 0 rgba(21, 21, 30, 0.2);
		}
		&.active {
			background-color: #4cae7559;
			transform: scale(1.05);
		}
		img {
			min-width: 200px;
		}
	}

	h3 {
		font-size: 20px;
		font-weight: 600;
		white-space: nowrap;
		line-height: normal;
	}

	.english-program {
		cursor: pointer;
		img {
			width: 60%;
			padding-bottom: 3.5rem;
		}
	}

	.french-program {
		cursor: pointer;
		padding: 0.3rem 0 3rem 0;
		img {
			width: 54%;
		}
	}
	.internship {
		cursor: pointer;
		padding-top: 2.8rem;
		img {
			width: 58%;
			padding-bottom: 1.4rem;
		}
	}
}
.our-programs .program-info {
	margin: 0 auto 8rem;
	position: relative;
	.scroll {
		position: absolute;
		height: 50px;
		width: 100px;
		top: -106px;
	}
	.hidden {
		display: none;
	}

	div {
		width: fit-content;
		margin: auto;
		position: relative;
		h2 {
			color: #d61717;
			font-size: 2rem;
			padding-bottom: 1rem;
		}
		p {
			font-size: 17px;
			line-height: 1.5rem;
		}
		.close {
			right: 0;
			cursor: pointer;
			position: absolute;
			transform: translate(0%, -50%);
		}
		.certificate {
			text-align: center;
			padding: 1rem 0;
			margin: 1rem auto 1.5rem;
		}
		.certificate img {
			width: 93px;
		}
		.certificate p {
			font-size: 18px;
			font-weight: 600;
			color: #d61717;
			text-align: center;
		}

		.agenda-link a {
			color: #d61717;
			font-weight: 600;
			text-decoration: underline;
		}
		.contact-link a {
			color: #000000ab;
			text-decoration: underline;
		}
		.contact-link a:hover {
			color: #181717;
			text-decoration: underline;
		}
	}

	.internship-program-info ul {
		text-align: left;
		list-style: square;
		max-width: 50rem;
		color: #000000ab;
		padding: 1rem;
		font-size: 17px;
		li {
			padding-bottom: 0.5rem;
		}
	}
	.internship-program-info svg {
		color: #9e16a8;
	}
}

@media screen and (max-width: 575px) {
	.our-programs h2 {
		font-size: 3rem;
	}
}
