.quote-container {
	text-decoration: none;
	padding-top: 4rem;
	overflow: hidden;

	.title {
		text-align: center;
		h2 {
			font-size: 4rem;
			color: #599079;
			font-weight: 600;
		}
		hr {
			margin-top: 2rem;
			width: 100px;
			height: 0rem;
			margin-bottom: 1rem;
			border: 0;
			border-top: 3px solid rgba(248, 214, 70, 0.57);
		}
	}
	.message-sent {
		text-align: center;
		margin-top: 4rem;
		padding: 4rem;
		margin-bottom: 10rem;
		p {
			color: #5b977e;
			margin-top: 2rem;
			font-size: 1.5rem;
		}
	}
	form {
		margin: 6rem 0 8rem;
		padding: 0 3rem;
		justify-content: center;
		label {
			color: #767272;
			font-size: 14px;
			padding-bottom: 11px;

			&.required:after {
				content: " *";
				color: red;
			}
		}
		input {
			padding: 2rem 0.5rem;
		}
		.form-control {
			//padding: 2rem 0.5rem;
			&.select.is-invalid {
				background-position: right calc(0.8rem + 0.1875rem) center;
			}
		}
		.select {
			height: 66px;
		}
		.text-input {
			padding: 1rem 0 8rem 0.2rem;
			width: 100%;
		}
		button {
			padding: 1.375rem 1.75rem;
		}

		.date-picker-container {
			.react-datepicker-wrapper {
				width: 100%;
			}
			button {
				padding: 0;
			}
		}
		.validation-error {
			color: #dc3545;
			margin-top: 1rem;
			font-size: 13px;
		}
	}
}

@media screen and (max-width: 767px) {
	.quote-container {
		.title {
			h2 {
				font-size: 4rem;
			}
		}
		form {
			padding: 0;
		}
	}
}

@media screen and (max-width: 575px) {
	.quote-container {
		.title {
			h2 {
				font-size: 3rem;
			}
		}
		form {
			margin: 3rem 0 8rem;
		}
	}
}
