.signed-in-links {
  .icon {
    color: #4ab376b8;
  }

  .dropdown-menu {
    top: 0px;
    left: 0px;
    transform: translate3d(-116px, 44px, 0px);
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #3f5d513d;
  }
}
