.signed-out-links {
	font-weight: 300;

	.icon {
		color: #606d66b8;
	}

	.dropdown.show:after {
		content: "";
		position: absolute;
		width: 88px;
		height: 67px;
		top: 6px;
		right: 12px;
	}
	.dropdown-menu {
		transform: translate3d(-88px, 59px, 0px) !important;
	}

	.auth-link {
		color: rgba(0, 0, 0, 0.5);
		width: 100%;
	}
	.auth-link:hover {
		color: #725b74;
		transition: 0.3s;
	}

	.dropdown-item {
		padding: 0.7rem 1.7rem;
	}

	.dropdown-item:hover,
	.dropdown-item:focus {
		border-style: outset;
		color: #16181b;
		text-decoration: none;
		background-color: #3f5d513d;
	}

	.dropdown-login-button {
		padding: 0.5rem 0rem;
		display: block;
		width: 139px;
		margin: 0 auto;
		background-color: #f5d445;
		border-color: #f8d746;
		color: #4bab73;
		font-size: 18px;
		opacity: 0.7;
		text-align: center;
		border-radius: 3px;
		cursor: pointer;
		font-weight: bold;
		&:hover {
			background-color: #ffdb42;
			border-color: #f9da57;
			color: #55b885;
			opacity: 1;
			text-decoration: none;
			transition: width 6s ease;
			-webkit-transition: width 6s ease;
		}
		&:focus {
			outline-color: #40ff00;
		}
	}
}
