.signed-in-links {
	font-weight: 300;
	.icon {
		color: #4ab376b8;
	}
	.dropdown.show:after {
		content: "";
		position: absolute;
		width: 88px;
		height: 67px;
		top: 6px;
		right: 12px;
	}

	.dropdown-menu {
		transform: translate3d(-88px, 59px, 0px) !important;
	}

	.auth-link {
		color: rgba(0, 0, 0, 0.5);
		width: 100%;
	}
	.auth-link:hover {
		color: #725b74;
		transition: 0.3s;
	}

	.dropdown-item {
		padding: 0.7rem 1.7rem;
		color: rgba(0, 0, 0, 0.5);
	}

	.dropdown-item:hover,
	.dropdown-item:focus {
		border-style: outset;
		color: #16181b;
		text-decoration: none;
		background-color: #3f5d513d;
	}
}
