.signin-modal-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #99636375;
  font-family: sans-serif;
  font-size: 10px;
  width: 100%;
  min-height: 100vh;
  z-index: 100;

  .form-container {
    background: #fff;
    width: 465px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;

    form {
      padding: 4em 4em 2em;
    }

    .form-label {
      font-size: 13px;
    }

    .form-control {
      display: block;
      box-sizing: border-box;
      width: 100%;
      outline: none;
      margin: 0;
      .create-account {
        text-align: center;
      }
    }
    .form-group {
      margin-bottom: 2rem;
    }

    h2 {
      margin: 0 0 1.5rem 0;
      text-align: center;
      font-size: 37px;
    }

    .forgot-password-input {
      position: relative;

      a {
        color: #242727b0;
        position: absolute;
        top: 58%;
        left: 75%;
        &:hover {
          color: #242727;
        }
      }
    }

    .create-account {
      background-color: #d6efd0;
      height: 10rem;
      padding: 1rem 2.5rem 0 2.5rem;
      h5 {
        text-align: center;
        padding-bottom: 1rem;
      }
    }
  }
}

// @media screen and ( max-width:  )
// //.signin-modal-container {

// }