.signup-modal-container {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #99636375;
	font-size: 10px;
	width: 100%;
	min-height: 100vh;
	z-index: 100;

	.form-container {
		background: #fff;
		padding: 3em 4em 2em;
		width: 33rem;
		margin: 1rem auto 0;
		box-shadow: 0 0 1em #222;
		border-radius: 2px;

		.form-label {
			color: #767272;
			font-size: 14px;
			padding-bottom: 8px;
		}

		.form-control {
			display: block;
			box-sizing: border-box;
			width: 100%;
			outline: none;
			margin: 0;
			padding: 1.5rem 0.75rem;
		}
		.form-group {
			margin-bottom: 1.5rem;
		}

		h2 {
			margin: 0 0 1.5rem 0;
			text-align: center;
			font-size: 42px;
			color: #599079;
			font-weight: 600;
		}

		h5 {
			text-align: center;
		}

		.create-account-btn {
			padding: 0.7rem;
		}

		.already-member {
			text-align: center;

			button {
				background: none;
				border: none;
				padding: 0;
				color: #626365;
				cursor: pointer;
				padding-top: 1rem;

				&:hover {
					color: #1c1a1a;
				}
				&:active {
					color: #d0b7b7;
					border: none;
					background-color: #ff000000;
					box-shadow: none !important;
				}
				&:focus {
					box-shadow: none;
				}
			}
		}
	}
}
